/* Define CSS Variables */
:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

/* Reset CSS box-model properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Limit page width and center content */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Heading styles */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  
}

/* Basic margin and padding for common elements */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Remove underlines from social media image links */
.socialmedia a {
  text-decoration: none;
  color: var(--accent2-color);
}

/* Hero div styling */
.hero {
  position: relative;
}

/* Hero image styling */
.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hero h1 heading overlay */
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
}

/* Hero article overlay */
.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

/* Hero article image styling */
.hero article img {
  float: right;
  width: 125px;
  margin: 0 0 10px 20px;
}

.socialmedia img {
  width: 32px;
  height: 32px;
}